.sidebar{
    width:16%;
    height: 100vh;
    border: 1px solid gray;
    font-size: max(1vw,12px);
}
.sidebar-options{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-top:20px ;
    padding-left:10px;
}
.sidebar-option{
    display:flex;
   align-items: center;
    gap:12px;
    padding:8px 10px;
    border:1px solid gray;
    border-right: 0;
    border-radius: 3px 0px 0px 3px;
    cursor:pointer;
}
.sidebar-option img{
    width:max(1.4vw,20px)
}
.sidebar-option.active{
    background-color: rgb(220, 214, 207);
}
@media(max-width:900px){
    .sidebar-options p {
        display: none;
    }
}