*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
 text-decoration: none;
 color:inherit;   
}
body{
    min-height: 100vh;
}
.app{
    width:90%;
    margin:auto
  }